@model ExampleFeatureManagement.Models.ExampleFeatureInputModel

    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SomeProperty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SomeProperty)
            @Html.ValidationMessageFor(model => model.SomeProperty)
        </div>

        @Html.HiddenFor(model => model.CreateBy)
        @Html.HiddenFor(model => model.CreateDate)

    </fieldset>
